
body {
    background-color: #111111;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}

nav i {
    /* flex: flex-start; */
    display: flex;
    z-index: 2;
    top: 0px;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    color: #f1f1f1;
    align-items: center;
    margin: 20px;
}

nav a {
    /* flex: flex-start; */
    text-decoration: none;
    display: flex;
    z-index: 2;
    top: 7px;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    color: #f1f1f1;
    align-items: center;
    margin: 20px;
    left: 25px;
}

nav ul {
    list-style-type: none;
}

.home {
    left: 0px;
    top: 7px;
}