
body {
    background-color: #111111;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



nav i {
    /* flex: flex-start; */
    display: flex;
    z-index: 2;
    top: 0px;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    color: #547eab;
    align-items: center;
    margin: 20px;
}

nav a {
    /* flex: flex-start; */
    text-decoration: none;
    display: flex;
    z-index: 2;
    top: 7px;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    color: #547eab;
    align-items: center;
    margin: 20px;
    left: 25px;
}

nav ul {
    list-style-type: none;
}

.home {
    left: 0px;
    top: 7px;
}