





nav i {
    display: flex;
    z-index: 2;
    top: 0px;
    font-size: 20px;
    position: fixed;
    color: #547eab;
    align-items: center;
    margin: 20px;
}

nav a {
    text-decoration: none;
    display: flex;
    z-index: 2;
    top: 7px;
    font-size: 20px;
    position: fixed;
    color: #547eab;
    align-items: center;
    margin: 20px;
    left: 25px;
}

nav ul {
    list-style-type: none;
}

.home {
    left: 0px;
    top: 7px;
}